<!-- Takes the item id given by menu.html and gets additional details on the item -->
<ion-view title="{{item.name}}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <ion-item ng-repeat="header in item.header">
            {{ item.header[$index] }} <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide"><br/>
<div>
  <div class="check-element animate-show" ng-show="checked">
    <p>{{ item.paragraph[$index] }}</p>
  </div>
</div>
        </ion-item>
    </ion-content>
</ion-view>