@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

body {
    background: #f0f0f0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #6a7483;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#control {
    margin-top: -17px;
    background: #ffffff;
    border-bottom: 2px double #000;
}

#add {
    padding: 20px;
    padding-bottom: 0;
}

#content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#drug {
    margin-bottom: 40px;
    padding: 0;
}
#drug h3 {
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    margin-left: 30px;
}
#drug p {
}

#header {
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    margin-top: -1px;
}

#headerContent {
    margin-top: -1px;
}
#headerContent p {
    margin: 10px 20px 5px;
}

#wrapper {
    border: 1px solid #344e88;;
    padding: 0;
    background: #f5f5f5;
}
#spacer {
    margin-top: 20px;
}