* {
    //text-shadow: .3px .3px .3px gray;
}

.has-header {
     //background-color: slategray;
}

.item-input{
    box-shadow: 1.5px 1.5px 2px rgba(1,1,1,.5);
}

.animate-show {
  line-height: 25px;
  padding-bottom: 3px;
  transition: all linear .25s;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove{
    transition: all linear 0.25s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 3px;
    transition: all linear .25s;
}

.bar-header {
    height: 75px !important;
  padding: 8px;
  box-shadow: 1.5px 1.5px 2px rgba(1,1,1,.5);
    position: fixed;
}

ion-nav-buttons {
    height: 70px !important;
     position: fixed;
}

.item.item-input {
}

.bar .title {
    margin: 25px 10px;
}
.bar .button.back-button {
    padding: 25px 10px;
}

.fixed-outside{
  background: $assertive !important;
  color:white !important;
  z-index: 12 !important;
  position: absolute !important; 
  bottom: 10px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
}

.platform-android.has-translucent-status-bar .app-header-bar  {
    padding-top: 25px;
}

.platform-ios.has-translucent-status-bar .app-header-bar  {
    padding-top: 20px;
}
